
.int__content{
   padding: 20px;
}

.pildoras__container{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

@media (min-width: 50em) {
   .pildoras__container{
     flex-direction: row;
   }
   .int__content{
    padding: 100px;
   }
 }