

.content{
  padding: 30px 15px 20px 15px;
  text-align: center;
}

.content p{
  font-size: 1.5em;
    color: var(--gray-800);
}

@media (min-width: 50em) {
 .content {
  padding: 100px;
 }
  .content p{
    font-size: 2em;
  }
  .pildoras__container{
    flex-direction: row;
  }
}